/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Testing.
/.phpunit.cache
.phpunit.result.cache
/reports

# Generated REST API clients.
/app/ApiClients/Fanbase
